body {
    padding-top: 60px;
    background-image: url(../images/grey-squares-background.png);
    background-size: 397px 322px;
    padding-bottom: 70px;
}

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5),
only screen and (-moz-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min-device-pixel-ratio: 1.5) {
  body {
    background-image: url(../images/grey-squares-background_@2X.png);
  }
}

#featured, #content, .well {
  background-color: white;
  border: 1px solid #f2a140;
  border-radius: 4px;
  padding: 19px;
}

#content {
  margin-bottom: 20px;
}

.navbar-fixed-bottom .navbar-inner .container {
  padding: 20px 0;
}

.navbar .nav > li > a {
  padding-top: 15px;
}

.navbar .nav > .current-page > a, .navbar .nav > .current-page > a:hover, .navbar .nav > .current-page > a:focus {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6, .nav-header {
  color: #1A9197;
}

a, a:hover, a:visited, a:focus {
  color: #434d81;
}

.entry-title a {
  color: #1A9197;
}

.twitter-share-button {
  float: right;
}

.readmore {
  display: block;
  margin-left: auto;
  text-align: right;
}

.post-info, .post-info a {
  color: #999;
  margin: 5px 0;
}

.post-info a {
  text-decoration: underline;
}

.post-info a.label {
  color: white;
  font-weight: normal;
  text-decoration: none;
}
